@import "../../variables";
@import "../Blog";

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  margin-left: $sidebar-margin-left;
  margin-right: $blog-post-margin;
  width: $sidebar-width;
}

.sidebar-category {
  padding: 10px 0;
  font-size: 14px;

  a {
    color: $primary-text-color;
  }

  span {
    display: block;
  }

  .sidebar-sub-category {
    font-size: 12px;
    padding-left: 10px;
  }
}
