@import "../../variables";
@import "../Blog";

.sidebar {
  flex: auto;
  padding: 0.625rem 1.25rem;
  max-width: 12.5rem;
  background-color: $primary-dark;

}

.sidebar-category {
  padding: 0.625rem 0;
  font-size: 0.875em;

  a {
    color: $primary-text-color;
  }

  span {
    display: block;
  }

  .sidebar-sub-category {
    font-size: 0.75em;
    padding-left: 0.625rem;
  }
}
