.home-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 0.625rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.logo {
    width: 40%;
    max-width: 12.5rem;
    padding: 1rem 0;
}

.title {
    font-size: clamp(1.5rem, 5vw, 3.5rem);
}