// Primary Application Colors
$primary: #263238;
$primary-light: #4f5b62;
$primary-dark: #000a12;
$primary-text-color: #ffffff;

// Secondary Application Colors
$secondary: #cfd8dc;
$secondary-light: #ffffff;
$secondary-dark: #9ea7aa;
$secondary-text: #000000;

// Complement Colors
$complement: #856640;
$complement-dark: #383026;

// Misc Colors
$link: #FF7824;

// breakpoints for responsive design
$phone: 640px;
$tablet: 768px;
$desktop: 1024px;
