// Primary Application Colors
$primary: #212121;
$primary-light: #484848;
$primary-dark: #000000;
$primary-text-color: #ffffff;

// Secondary Application Colors
$secondary: #f5f5f5;
$secondary-light: #ffffff;
$secondary-dark: #c2c2c2;
$secondary-text: #000000;

// Complement Colors
$complement: #856640;
$complement-dark: #383026;

// Misc Colors
$link: #FF7824;

// Category Colors
$retro-gaming: #135B92;
$retro-computing: #19C25F;
$website-updates: #EF2C67;

// breakpoints for responsive design
$phone: 640px;
$tablet: 768px;
$desktop: 1024px;
