@import '../variables.scss';

.blog-container {
  display: flex;
  flex-flow: row;
  min-height: calc(92.5vh - 1px);
}

.blog-post, .blog-category, .blog-index {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.blog-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 0.625rem;
  word-wrap: anywhere;

  @media screen and (max-width: $tablet) {
    padding: 0 5%;
  }

  @media screen and (min-width: $tablet) {
    padding: 0 8%;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 10%;
  }
}

.blog-children {
  padding-top: 0.625rem;

  pre, div, span {
    white-space: pre-wrap;
    color: $primary-text-color;
    font-size: 1em;
  }

  h2 {
    font-size: 1.5em;
    text-decoration: underline;
  }

  a {
    color: $link;
  }
}

.blog-title {
  font-size: 2em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.blog-date {
  font-size: 0.75em;
  display: block;
  padding-top: .2rem;
  margin-top: 0;
}

.blog-category-switch {
  padding: 0;
  margin: 0;
}

.blog-list {
  margin-bottom: 0;
}

.retro-gaming-category-navigation {
  a {
    color: $retro-gaming;
  }
}

.retro-computing-category-navigation {
  a {
    color: $retro-computing;
  }
}

.website-updates-category-navigation {
  a {
    color: $website-updates;
  }
}

a.blog-post-navigator-link {
  color: $primary-text-color;

  .blog-post-navigator-container {
    background: $complement;
    margin: 1.5rem 3% 0;
    padding: 0.625rem;
    border: 3px solid $primary-dark;

    &.retro-gaming-post-navigation {
      background: $retro-gaming;
    }

    &.retro-computing-post-navigation {
      background: $retro-computing;
    }

    &.website-updates-post-navigation {
      background: $website-updates;
    }

    .blog-post-navigator-title {
      font-size: 1rem;
      display: block;
    }

    .blog-post-navigator-date {
      font-size: 0.75rem;
      display: block;
      text-align: right;
    }
  }
}

.category-navigation-container, .post-navigation-container {
  h2 {
    font-size: 1.6em;
    text-decoration: underline;
  }
}

.head-navigator {
  font-size: .9em;
  padding-bottom: 0.65rem;

  .head-navigator-current-location {
    text-decoration: underline;
  }

  a {
    color: $primary-text-color;
  }
}
