@import '../variables.scss';

.blog-container {
  display: flex;
  flex-flow: row;
  min-height: calc(92.5vh - 1px);
}

.blog-post {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.blog-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 0.625rem;
  word-wrap: anywhere;

  @media screen and (max-width: $tablet) {
    padding: 0 5%;
  }

  @media screen and (min-width: $tablet) {
    padding: 0 8%;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 10%;
  }
}

.blog-children {
  padding-top: 0.625rem;

  pre, div, span {
    white-space: pre-wrap;
    color: $primary-text-color;
    font-size: 1em;
  }

  h2 {
    font-size: 1.5em;
    text-decoration: underline;
  }
}

.blog-title {
  font-size: 2em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.blog-date {
  font-size: 0.75em;
  display: block;
  padding-top: .2rem;
  margin-top: 0;
}

.blog-category-switch {
  padding: 0;
  margin: 0;
}

.blog-list {
  margin-bottom: 0;
}
