@import "../variables";

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0.625rem;
  min-height: 7.5vh;
  border-bottom: $primary-text-color solid 2px;
}

.nav-links {
  font-size: 1.35em;
  margin-bottom: 0.625rem;

  a, a:link, a:hover, a:active {
    color: $primary-text-color;
  }
}
