@import "../variables";

.landing-nav {
  font-size: 1.35rem;

  hr {
    border: 0 #ffffff;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  }

  a, a:link, a:hover, a:active {
    color: $primary-text-color;
  }
}
