@import '../variables.scss';

.about-container {
  margin-top: 0.625rem;
}

.about-profile {
  width: 14rem;
  padding: 0 0 1.5rem;
}

.about-text pre {
  font-size: 1.125em;
}

a .about-icon {
  font-size: 3em;
  margin: 0.625rem 1.875rem;
  color: $primary-text-color;

  :hover {
    color: #000a12;
  }
}