@import "../../styles/variables.module";

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0.625rem;
  min-height: 7.5vh;
  border-bottom: $primary-text-color solid 2px;
}


.navLinks {
  color: $primary-text-color;
  font-size: 1.35em;
  margin-bottom: 0.625rem;

  a {
    text-decoration: none;
  }

  a, a:link, a:hover, a:active {
    color: $primary-text-color;
  }

  a:hover {
    text-decoration: underline $link;
  }
}
