.blogEmbeddedYoutubeVideo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.youtubeIframe {
  width: 100%;
  height: 46vw;
  max-width: 35rem;
  max-height: 19.688rem;
}
