// Color Update
$background: #0e131f;
$background-dark: #06090e;
$background-light: #e2e8f3;
$accent1: #9c58c6;
$accent2: #d1495b;
$accent3: #00798c;
$accent4: #7b9e89;
$accent5: #c06e52;

// text-colors
$primary-text-color: #ffffff;
$secondary-text: #000000;
$terminal-green-text: #41ff00;

// Primary Application Colors
$primary: #212121;
$primary-light: #484848;
$primary-dark: #000000;

// Secondary Application Colors
$secondary: #f5f5f5;
$secondary-light: #ffffff;
$secondary-dark: #c2c2c2;

// Misc Colors
$link: $accent2;

// Category Colors
$retro-gaming: $accent1;
$retro-computing: $accent3;
$development: $accent4;

// Breakpoints for responsive design
$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

// Other values
$footer-height: 4rem;

:export {
  primaryColor: $primary;
  primaryLightColor: $primary-light;
  primaryDarkColor: $primary-dark;
  secondaryColor: $secondary;
  secondaryLightColor: $secondary-light;
  secondaryDarkColor: $secondary-dark;
  linkColor: $link;
  retroGamingColor: $retro-gaming;
  retroComputingColor: $retro-computing;
  developmentColor: $development;
}
